# Dependency directories
node_modules/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Build artifacts
/build
/dist

# Coverage directory
/coverage

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.idea/
.vscode/

# Temporary files
*.log
*.tmp
*.swp

# Compiled files
*.js
*.jsx
*.json
*.map

# Cache and build folders
.cache/
.cache-loader/
.npm/
yarn-error.log

# Dependency lock files
yarn.lock
package-lock.json
.parcel-cache